<% if @event.present? %>
  <% @event.errors.full_messages.each do |message| %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <% end %>
<% end %>


<h1>
  Add a new event
</h1>

<hr>

<form action="/create_event" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  
  <!-- Label and input for blurb -->
  <div class="form-group">
    <label for="blurb">
      Blurb
    </label>

    <input type="text" id="blurb" name="blurb" class="form-control">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>
  
  <!-- Label and input for time -->
  <div class="form-group">
    <label for="location">
    Time
    </label>

    <input type="text" id="time" name="time" class="form-control">
  </div>
  
  <!-- Label and input for location -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control">
  </div>
  
  <!-- Label and input for club -->
  <div class="form-group">
    <label for="club">
      Club
    </label>
    <%= select_tag("club_id", options_from_collection_for_select(Club.all, :id, :title, @event.try(:club_id)), :class => "form-control") %>
  or <a href="/clubs/new">add a new club</a> first
  </div>
  
  <!-- Label and input for image_url -->
  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <input type="text" id="image_url" name="image_url" class="form-control">
  </div>
 
  <button class="btn btn-block btn-outline-secondary">
    Create event
  </button>
</form>

<hr>

<a href="/clubs">
  Go back
</a>
