<div class="row pt-5">
    
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2>
                All Users
            </h2>
          </div>
          <ul class="list-group">
              <% @users.each do |user| %>
              <li class="list-group-item">
                <% if user.id == current_user.id %>
                <a href="/mywall">
                  <%= user.firstname %> <%= user.lastname %> [Me]
                </a>
                <% else %>
                  <a href="/users/<%= user.id %>">
                      <%= user.firstname %>
                  </a>
                  <% end %>
                  
                  
                  
              </li>
            <% end %>
          </ul>
        </div>
    </div>
</div>