<h1>
  Edit attendance #<%= @attendance.id %>
</h1>

<hr>

<form action="/update_attendance/<%= @attendance.id %>" method="post">

  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <input type="text" id="student_id" name="student_id" class="form-control" value="<%= @attendance.student_id %>">
  </div>

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @attendance.event_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update attendance
  </button>
</form>

<hr>

<a href="/attendances">
  Go back
</a>
