<h1>
  Add a new attendance
</h1>


<hr>

<form action="/create_attendance" method="post">

  <div class="form-group">
    <label for="user_id">
      user
    </label>

   <%= select_tag("user_id", options_from_collection_for_select(User.all, :id, :name), :class => "form-control") %>
  or <a href="/users/new">add a new user</a> first
  </div>

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <%= select_tag("event_id", options_from_collection_for_select(Event.all, :id, :title), :class => "form-control") %>
  or <a href="/users/new">add a new user</a> first
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create attendance
  </button>
</form>

<hr>

<a href="/attendances">
  Go back
</a>
