<h1>
  All students
</h1>

<a href="/students/new">
  Add a new student
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Name
    </th>


    <th>
    </th>
  </tr>

  <% @students.each do |student| %>
  <tr>

    <td>
      <%= student.name %>
    </td>

    <td>
      <a href="/students/<%= student.id %>" class="btn btn-primary">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
