<h1>
  All categories
</h1>

<a href="/categories/new">
  Add a new category
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Category Name
    </th>


    <th>
    </th>
  </tr>

  <% @categories.each do |category| %>
  <tr>

    <td>
      <%= category.description %>
    </td>

    <td>
      <a href="categories/<%= category.id %>" class="btn btn-primary">
        Details
      </a>
   
      <a href="/delete_category/<%= category.id %>" class="btn btn-danger">
        Delete
      </a>
    </td>
  </tr>
  <% end %>
</table>
