<!-- Validation failure messages -->
<% if @tag.present? %>
  <% if @tag.errors.any? %>
    <% @tag.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new tag
</h1>


<hr>

<form action="/create_tag" method="post">

  <div class="form-group">
    <label for="club_id">
      Club
    </label>

    <input type="text" id="club_id" name="club_id" class="form-control" value="<%= @tag.club_id %>">
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @tag.category_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create tag
  </button>
</form>

<hr>

<a href="/tags">
  Go back
</a>
